<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>MSX CAS Packager by apoloval</title>
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/github-dark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ site.path }}/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/apoloval/mcp">View On GitHub</a></li>
          <li class="downloads"><a href="https://bintray.com/artifact/download/apoloval/msx/mcp/v0.1.0/mcp-0.1.0_x64.exe">Win64</a></li>
          <li class="downloads"><a href="https://bintray.com/artifact/download/apoloval/msx/mcp/v0.1.0/mcp-0.1.0_x86.exe">Win32</a></li>
          <li class="downloads"><a href="https://bintray.com/artifact/download/apoloval/msx/mcp/v0.1.0/mcp-0.1.0.pkg">Mac</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>MSX CAS Packager</h1>
          <p>A command line interface (CLI) tool to pack/unpack MSX CAS files</p>
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/apoloval">apoloval</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

      {{ content }}

      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
